<html ng-app="myApp">
<body ng-controller="BookConfController">
<p>
      <a href="/employee?ui_action=getEmpList">Home</a> | 
      <a href="/confbooking">Book Conference</a> |
      <a href="/logout">Log Out</a>
</p>
<strong>id</strong>: <%= user._id %><br>
<strong>email</strong>: <%= user.username %><br>
<!--<form action="saveEmp" method="post" accept-charset="utf-8">-->
<fieldset>
<legend>Book Conference</legend>
<div id="conf-form" >
    <input ng-model="action" type="hidden"/>
    <div>
      <select  ng-model="ddlconf" ng-options="conf.name for conf in confMaster" ></select>
      {{ddlconf.name}}
      PPPP
      {{ddlconf.floor}}
    </div>
    <br>
    <div> 
      <input ng-model="frmDate" date-format="yyyy-MM-dd HH:mm a" datetime-picker hour="23" minute='59' size="30" />
    </div>
    <br>
    <div> 
      <input ng-model="toDate" date-format="yyyy-MM-dd HH:mm a" datetime-picker hour="23" minute='59' size="30" />
    </div>
   <br>
   <button type="submit"  class="btn btn-danger" ng-click="book()">Book</button>

   <br/ >

   <div>
     <table>  
       <thead>
	<tr>
		<th>Employee Name</th>
		<th>Conference Name</th>
		<th>From</th>
		<th>To</th>
		
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="conf in conflist">
         <td>{{conf.empName}}</td>
         <td>{{conf.confName}}</td>
         <td>{{conf.frmDate}}</td>
         <td>{{conf.toDate}}</td>
       </tr>
	</tbody>
       
     </table>
   </div>
</div>

</fieldset>
<!--</form>-->
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="angularjs-datetime-picker.js"></script>
    <script src="confbooking.js"></script>
    <link rel="stylesheet" href="angularjs-datetime-picker.css" />
</body>
</html>